@{
    ViewBag.Title = "Start";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Zaloguj się, aby zgłosić swój stan energii już dziś.
            </p>
        </div>
    </section>
}